* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-wrapper{
    width: 80%;
    background-color: red;
    margin-inline: auto;
    display: flex;
}
.image-container{
    background-color: beige;
    width: 50%;
    height: 60vh;
    margin-inline: auto;
}
.image-container img {
    height: 40vh;
    width: 80%;
    background-size: cover;
    

}

.btn-cont {
    display: flex;
    flex-direction: column;
    width: 10rem;
}
button {
    height: 2rem;
    margin-block: .4rem;
}