* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-wrapper{
    width: 80%;
    background-color: red;
    margin-inline: auto;
    display: flex;
}

.content-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.image-container{
    background-color: beige;
    width: 60%;
    height: 60vh;
    margin-inline: auto;
}
.image-container img {
    height: 40vh;
    width: 80%;
    background-size: cover;
    display: flex;
    margin-inline: auto;
    /* justify-content: center; */
}

.content-container p {
    text-align: center;
    margin-inline: 2rem;
}

.btn-cont {
    display: flex;
    flex-direction: column;
    width: 10rem;
}
button {
    /* height: 2rem; */
    margin-block: .4rem;
    background-color: white;
    outline: transparent;
    border: 0;
}

.em-container {
    background-color: black;
    height: 50vh;
    width: 80%;
    margin-inline: auto;
    padding-inline: 5%;
    color: white;
    /* padding-block: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.em-container  h2 {
    border: 1px solid red;
}
.em-container  p {
    border: 1px solid red;
}
.em-container  .btn-cont {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
}
.em-container button {

    padding: 4px;
}
.em-container .btn-big {

    font-size: 1.5em;
}
.em-container .btn-small {

    font-size: .5em;
    border-bottom: solid red 1em;
}

.flex-container{
    max-width: 1524px;
    width: 80%;
    margin-inline: auto;
    /* display: flex; */
}      
.flex-container .flex-img1{
    width: 100%;
    height: 20vh;
    background-color: red;
}      
.flex-container .top-content{
    border: 3px solid green;
    display: flex;
    margin-block: 1em;
}      
.flex-container .bottom-content{
    border: 3px solid purple;
    display: flex;
}   

.top-content-p:last-child{
    background-color: grey;
}   
.bottom-content-p:first-child{
    width: 65%;
}
.bottom-content-p:last-child{
    width: 35%;
    background-color: grey;
}   


/* @media screen  */
.mediaq {
    width: 80%;
    height: 60vh;
    background-color: red;
    margin-inline: auto;
    display: flex;
    flex-direction: column;

}
.mediaq-e {
    height: 80%;
    width: 10rem;
    background-color: yellow;
    border: 1px solid blue;
}
.mediaq-e:first-child{
    background-color: green;
    flex-grow: 1;
}
