* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-wrapper{
    width: 80%;
    background-color: red;
    margin-inline: auto;
    display: flex;
}

.content-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.image-container{
    background-color: beige;
    width: 60%;
    height: 60vh;
    margin-inline: auto;
}
.image-container img {
    height: 40vh;
    width: 80%;
    background-size: cover;
    display: flex;
    margin-inline: auto;
    /* justify-content: center; */
}

.content-container p {
    text-align: center;
    margin-inline: 2rem;
}

.btn-cont {
    display: flex;
    flex-direction: column;
    width: 10rem;
}
button {
    height: 2rem;
    margin-block: .4rem;
    background-color: white;
    outline: transparent;
    border: 0;
}